.course-card {
  width: 390px;
  height: 438px;
  background-color: var(--card_background);

  -webkit-box-shadow: 0px 12px 10px 0px #9a9ca54d;
  -moz-box-shadow: 0px 12px 10px 0px #9a9ca54d;
  box-shadow: 0px 12px 10px 0px #9a9ca54d;
}
.course-card__image {
  width: 100%;
  height: 240px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.course-card__category {
  font-size: 14px;
  color: var(--category_card);
  font-weight: 400;
  width: 80px;
  height: 23px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
  width: fit-content;

  &.marketing {
    background-color: var(--marketing);
  }

  &.management {
    background-color: var(--management);
    width: 97px;
  }

  &.hr_recruting {
    background-color: var(--hr_recruting);
    width: 112px;
  }
  &.design {
    background-color: var(--design);
  }
  &.development {
    background-color: var(--develop);
    width: 99px;
  }
}

.course-card__content {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
  flex-grow: 1;
}

.course-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 20px;
}

.course-card__price {
  color: var(--price);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}
.course-card__author {
  color: var(--price-title);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
}

//adaptive

@media (max-width: 1200px) {
  .course-card {
    max-width: 320px;
    height: 380px;
  }

  .course-card__image {
    height: 180px;
    width: 320px;
  }

  .course-card__title {
    font-size: 18px;
  }

  .course-card__price,
  .course-card__author {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .course-card {
    width: 320px;
    height: auto;
    min-height: 350px;
  }

  .course-card__image {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .course-card {
    max-width: 100%;
  }

  .course-card__content {
    padding: 16px;
  }

  .course-card__title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .course-card__price,
  .course-card__author {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .course-card {
    width: 250px;
  }
  .course-card__image {
    height: 180px;
    width: 250px;
  }

  .course-card__content {
    padding: 16px;
  }

  .course-card__title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .course-card__price,
  .course-card__author {
    font-size: 14px;
  }
}
